.pytest_cache/
__pycache__/
.vscode/
venv/
env/
.pytest_cache/

dbc.sqlite3
.env
*.pyc
__pycache__
*.swp
*.log
logs/
gitignore
.gitignore

**/migrations/*
!**/migrations/__init__.py
hameau-backend-template.code-workspace
scripts/
*.log
logs/


