.pytest_cache/
__pycache__/
.vscode/
venv/
env/
.pytest_cache/

dbc.sqlite3
.env
*.pyc
__pycache__
*.swp


**/migrations/*
!**/migrations/__init__.py

*.sqlite3
API_keys

venv/
dbc.sqlite3
donations_receipts/