services:
  redis:
    image: "redis:7-alpine"
    expose:
      - "6379"

  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 config.wsgi:application
    env_file: .env
    depends_on:
      - redis
    ports:
      - "8000:8000"

  worker:
    build: .
    command: celery -A config worker --loglevel=info
    env_file: .env
    depends_on:
      - redis
